body{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: skyblue;
}

#wrapper{
    width: 1000px;
    margin: 50px auto;
    background-color: #f5ebdd;
}

/* Header */

#header{
    height: 300px;
    position: relative;
}

#project_name{
    font-family: sans-serif;
    font-size: 50px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

#project_name span{
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 6px;
}

#cobra_logo{
    height: inherit;
    float: left;
    margin-left: 2%;
}

#mustang_logo{
    height: 45%;
    float: right;
    margin-right: 1%;
    margin-top: 3%
}

#header_menu{
    float: right;
    position: absolute;
    right: 0px;
    bottom: 14px;
    width: 76%;
    height: 85px;
    border: 3px solid black;
    border-right-color: transparent;
    border-radius: 35px 0px 0px 35px;
}

/* End of Header */ 

