body {
    background-color: antiquewhite;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

p {
    text-indent: 30px;
}

#red, #green, #blue {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue
}